.topbar {
  position: fixed;
  width: 100%;
  top: 3rem;
  height: 5rem;
  background: blueviolet;
  border: darkslategray solid 3px;
}

.sidebar {
  border-left: darkslategray solid 3px;
  border-right: darkslategray solid 3px;
    position: fixed;
    left: 0;
    top: 8rem;
    height: 100%;
    width: 10rem;
}

.mainScreen {
  align-items: center;
  justify-items: center;
  margin-left: 10rem;
}

.controller {
  border: darkslategray solid 3px;
  position: fixed;
  left: 0;
  height: 10%;
  bottom: 2rem;
  width: 100%;
  background-color: blueviolet;
  color: white;
  text-align: center;
}
